@import './index.css';

.gamePage {
    display: flex;
    flex-flow: row;

    & > div{
        margin-top: 2%;
        margin-bottom: 2%;
    }
 }

.gameInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--panelMask);
    padding: 0 2vw 0 2vw;

    & > img{
        width: 20vw;
        margin: auto;
    }

    & > div{
        display: grid;
        grid: auto auto auto auto / auto auto;
        justify-content: space-between;
        padding-bottom: 10px;

        & > h3, .starRating{
            width: 100%;
            grid-column-end: span 2;
            justify-content: center;
            text-align: center;
            border-bottom: 2px solid var(--backgroundDark);
            padding-bottom: 5px;
            margin-bottom: 1vw;
        }
    }

}

div:has(.tag) {
    justify-self: end;
}
.tag {
    background-color: var(--button);
    font-size: smaller;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    margin-left: 5px;
}
.platform {
    background-color: var(--backgroundDark);
}

.descBox > p {
    min-height: 200px;
    margin: 0;
}

.verticalSeparator {
    width: 5px;
    border-left: 5px solid var(--backgroundDark);
    padding: 0;
    margin:  10% 10px 10% 10px !important;
}